[settings]
bot_name = "your friendly neighborhood penguin, ocfbot"
contact_info = "https://github.com/ocf/adelie"
dry_run = false

[[repo]]
github_id = "ocf/matrix"

  [[repo.software]]
  name = "synapse"
  changelog = "https://github.com/matrix-org/synapse/releases/tag/v{0}"
  file = "Makefile"
  regex = "(?<=SYNAPSE_VERSION := v)(.*)(?=-py3\n)"
  type = "relmon"
  id = "15283"
  filter = "rc"

  [[repo.software]]
  name = "element"
  changelog = "https://github.com/vector-im/element-web/releases/tag/v{0}"
  file = "Makefile"
  regex = "(?<=RIOT_VERSION := v)(.*)(?=\n)"
  type = "relmon"
  id = "18626"
  filter = "rc"

  [[repo.software]]
  name = "bridge"
  changelog = "https://github.com/matrix-org/matrix-appservice-irc/releases/tag/{0}"
  file = "Makefile"
  regex = "(?<=BRIDGE_VERSION := release-)(.*)(?=\n)"
  type = "relmon"
  id = "121056"
  filter = "rc"

[[repo]]
github_id = "ocf/snipe-it"

  [[repo.software]]
  name = "snipe-it"
  changelog = "https://github.com/snipe/snipe-it/releases/tag/v{0}"
  file = "kubernetes/snipe-it.yaml"
  regex = "(?<=image: \"snipe/snipe-it:v)(.*)(?=\")"
  type = "relmon"
  id = "124519"
  filter = "beta"


[[repo]]
github_id = "ocf/thelounge"

  [[repo.software]]
  name = "thelounge"
  changelog = "https://github.com/thelounge/thelounge/releases/tag/v{0}"
  file = "Dockerfile"
  regex = "(?<=FROM thelounge/thelounge:)(.*)(?=\n)"
  type = "npm"
  id = "thelounge"
